*{
	margin: 0;
	padding: 0;

	font-size: 18px;
	font-family: sans-serif;
	text-decoration: none;
	color: #000;
	box-sizing: border-box;



}
body {
	overflow-x: hidden;
	max-width: 2000px;
}

.headerContainer {
	width: 100%;
	max-width: 2000px;
	height: 800px;
	background-color: #f4e7f9;

}
.header_front {
	width: 80%;
	min-height: 100%;


}
.Header_img {
	width: 100%;
	height: 100%;
	object-fit: contain;

}

.swiper-button-next::after,
.swiper-button-prev::after {
	color: violet;
}
.content {
	width: 100%;
	height: 1900px;
}