*{
	margin: 0;
	padding: 0;

	font-size: 32px;
	line-height: 1.4;
	font-size: calc(14px + 17 * (100vw / 1600));

	text-decoration: none;
	box-sizing: border-box;
}

h1, h2, h3 {
	font-size: calc(11px + 13 * (100vw / 1600));
	color: var(--TitleColor);
}
p {
	font-size: calc(9px + 11 * (100vw / 1600));
	color: var(--TextColor);
}

:root {
	--SubscribeButton: #1f9fce; 
	--DarkBlueOpacity: #11181dc9;
	--DarkBlue: #152027;
	--RubyRed: #9f173d;
	--TextColor: #b6b6b6;
	--TitleColor: #ece2e2;
	--GoodRaiting: #1dee1b;
	--Popup: #152027c9;

	--TransitionOptimal: 0.5s;
	--TransitionMinimal: 0.3s;
}
body {
	background-color: var(--DarkBlue);
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	overflow-x: hidden;

}
 /* ======================head====================== */


.mainHeadBlock {
	z-index: 100;
	width: 100%;
	height: 3vw;
	background-color: var(--DarkBlueOpacity);
	position: fixed;

}
.header {
	width: 100%;
	max-width: 1600px;
	height: 100%;

	margin: 0 auto;
	padding: 0 .1em;

	display: grid;
	align-items: center;
	justify-items: center;
	grid-template-columns: 5% 75% 10% 5% 5%;
	grid-template-rows: 100%;
	grid-template-areas:"logo none empty search user";

	
}
.ul {
	color:  var(--TextColor);
	font-size: .8em;
	cursor: pointer;
	grid-area: empty;
	transition: var(--TransitionMinimal);
}
.ul:hover {
	color: #fff;
}
.logo {
	width: 2em;
	height: 100%;
	max-width: 100%;
	object-fit: contain;

	grid-area: logo;
}
.logoLink {
	max-width: 100%;
	height: 100%;
}

.searchMainBlock {
	width: 1.7vw;
	height: 100%;
	grid-area: search;
	cursor: pointer;
}
#search_icon {
	max-width: 100%;
	height: 100%;
	transition: var(--TransitionMinimal);
	will-change: transform;
	transform-origin: center center;
	object-fit: contain;
}
#search_icon:hover {
	transform: scale(1.1);
}
.profile {
	width: 2vw;
	height: 100%;
	grid-area: user;
	cursor: pointer;
}
#user_icon {
	max-width: 100%;
	height: 100%;
	transition: var(--TransitionMinimal);
	object-fit: contain;
}
#user_icon:hover {
	transform: scale(1.1);
}
.popupSearch {
	z-index: 1000;
	width: 100%;
	height: 100%;
	position: fixed;
	display: flex;
	justify-content: center;
	padding: 1em;
	background-color: var(--Popup);
	transition: var(--TransitionMinimal);
	opacity: 0;
	visibility: hidden;
	
}
.popupSearch.open {
	opacity: 1;
	visibility: visible;
}
.popupContent {
	width: 100%;
	max-width: 1600px;
	height: 80%;
	position: relative;
	transition: var(--TransitionMinimal);
	transform: translate(0, -100%);
}
.popupContent.open {
	transform: translate(0);
}
.searchInput {
	width: 100%;
	height: 4vw;
	padding-left: .5em;
	background-color: var(--DarkBlue);
	color: var(--TextColor);
	border-radius: .8em;
	border: .04em solid var(--TextColor);
}
.popupClose {
	cursor: pointer;
	float: right;
    margin: 1em;
	color: var(--TextColor);
	transition: var(--TransitionMinimal);
}
.popupClose:hover {
	color: var(--TitleColor);
	transform: scale(1.2);
}
.searchMenu {
	color: var(--TextColor);
	margin-top: 2em;
	cursor: pointer;
	padding-bottom: .5em;
	height: 79%;
	overflow-y: hidden;
}
.searchMenu ol {
	margin-bottom: .2em;
	display: block;
	width: 40%;
}
.searchMenu ol.hide {
	display: none;
}
.searchMenu ol:hover {
	background-color: var(--RubyRed);
	color: var(--TitleColor);
}
mark {
	background-color: var(--RubyRed);
}

/* ======================/head====================== */
.headerHEADER {
	margin: 0 auto;
	width: 100%;
	max-width: 2000px;
	height: 35vw;
	max-height: 700px;
}

.headerContainer {
	height: 100%;
	width: 100%;
	padding: 1% 20%;
	margin: 0 auto;
	overflow-x: hidden; 
}
.Header__slide {
	max-width: 100%;
	background-size: cover;
	border-radius: 20px;

	overflow: hidden;

	display: flex;
	justify-content: center;
	align-items: flex-end;
	
}
.headerContainer .swiper-slide {
	opacity: .3;
	transition: 1.2s;
	transform: scale(0.8);
}
.headerContainer .swiper-slide-active {
	opacity: 1;
	transition: 1.2s;
	transform: scale(1);
}

/* Информационная панель о фильме ШАПКА */
.HeaderSlide_info {
	z-index: 100;
	width: 100%;
	height: 20%;
	transform: translateY(+100%);

	display: grid;
	align-items: center;

	grid-template-areas: "title bar pointer";


	background-color: var(--DarkBlueOpacity);
	opacity: 85%;
	transition: .6s;
}
.swiper-slide-active:hover .HeaderSlide_info {
	transform: translateY(0);
	opacity: 85%;
}
.Title {
	font-size: 1em;
	margin: .2em 0 .2em .4em ;
	grid-area: title;
}

.bar {
	grid-area: bar;

	display: block;
	height: .2em;
	border-radius: 10px;
	overflow: hidden;
	margin-top: .2em;
	
	width: 90%;

	background-color: var(--DarkBlue);
	
}
.rating {
	background-color: var(--GoodRaiting);
	height: 100%;
	float: left;
}
.pointer {
	grid-area: pointer;
	display: flex;
	justify-content: right;

	
}
.follow, .dislike, .arrowUp {
	background-size: cover;
	width: .9em;
	height: .9em;
	margin-right: 6%;
	transition: .3s;
}
.follow {
	background-image: url('../source/Icons/follow_off.png');
}
.dislike {
	background-image: url('../source/Icons/dislike_off.png');
}
.arrowUp {
	background-image: url('../source/Icons/arrow_up.png');
}
.follow:hover {
	background-image: url('../source/Icons/follow_on.png');
}
.dislike:hover {
	background-image: url('../source/Icons/dislike_on.png');
}
.arrowUp:hover {
	transform: translateY(-10%);
}



.header__bottomLine {
	width: 100%;
	height: 2vw;
	background-color: var(--RubyRed);
}
/* ============================Content============================ */
.content {
	margin: 0 auto;
	padding: .6em 1em; 
	width: 100%;
	max-width: 1650px; 
	height: auto;
	background-color: var(--DarkBlue);

}
.MainSliderBlock {
	position: relative;
}
.swiper-button-next:after, .swiper-button-prev:after {
	height: 20px;
	width: 20px;
	color: var(--RubyRed);
	font-size: 1em;
	font-weight: bold;

}
.swiper-button-disabled {
	display: none;
}
.swiper-button-next {
	left: 101%;
}
.swiper-button-prev {
	left: -2%;
}
.recomendedFilm_Slider {
	display: flex;
	align-items: center;
	
}
.recomendedBlock__inner {
	margin: .8em 0 1.2em;
	width: 100%;
	height: 19vw;
	overflow: hidden;
}
.recomendedFilm {
	overflow: hidden;
	border-radius: .4em;
	
}
.filmIMG__inner {
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
	transition: var(--TransitionOptimal);

	will-change: transform;
	transform-origin: center center;
}
.filmIMG__inner:hover {
	transform: scale(1.1);
}
.aboutFilm {
	z-index: 100;
	width: 100%;
	height: 100%;
	padding: 0.15em;
	background-color: var(--DarkBlueOpacity);

	opacity: 0;
	transition: var(--TransitionOptimal);
	will-change: transform;
	transform-origin: center center;
	
	display: grid;
	grid-template-rows: 50% 15% 25% 10%;
	grid-template-columns: 3fr 1fr;
	grid-template-areas: 
	"Title Title"
	"Bar Bar"
	"genre genre"
	"duration followFilm";
	cursor: pointer;

}
.aboutFilm p {
	font-size: calc(6px + 13 * (100vw / 1600));
	line-height: 0.9em;
	align-items: center;
}
.aboutFilm:hover {
	opacity: 1;
	transform: scale(0.92);
}
.follow_film {
	grid-area: followFilm;
	margin: 0 auto;
}
.film_raiting  {
	grid-area: Bar;
}
.title {
	grid-area: Title;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.genre {
	grid-area: genre;
	margin-bottom: .2em; 
}
.duration {
	grid-area: duration;
}


.AboutUsInfoBlock {
	margin-bottom: 1.2em;
}
.AboutUsInfoBlock h2 {
	margin-bottom: 0.4em;
}

/* ============================Bottom============================ */
.mainBottomBlock {
	width: 100%;
	height: 20vw;
	max-width: 1600px;
	padding: .8em .3em; 
	margin: 0 auto;
	overflow: hidden;

	border-top: 2px solid #fff2;

}
.bottomStageTop {
	width: 100%;
	height: 80%;
	margin-bottom: .5em;

	display: grid;
	justify-items: center;
	align-items: center;
	grid-template-columns:1fr 3fr 1fr;
	grid-template-areas: 
	"link subscribeButton none"
	"link subscribeButton none"
	"link subscribeButton social";
}
.bottomUl {
	width: 100%;
	grid-area: link;
	font-weight: bold;
}
.bottomUl p:hover {
	color: var(--RubyRed);
	cursor: pointer;
	transition: var(--TransitionMinimal);
}
.bottomButtonSubscribe {
	width: 70%;
	height: 65%;
	padding: 1em;
	text-align: left;
	font-weight: bold;
	background-color: var(--SubscribeButton);
	border-radius: 1.2em;
	transition: var(--TransitionOptimal);
	opacity: .7;

	grid-area: subscribeButton;
}
.bottomButtonSubscribe p {
	color: var(--TitleColor);
}
.bottomButtonSubscribe:hover {
	opacity: 1;
	box-shadow: .4em .5em .05em .1em #1a566d;
}
.social {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	grid-area: social;
}
.socialNetwork{
	width: 15%;
	margin: .1em;
	cursor: pointer;
}
.socialNetwork img {
	max-width: 100%;
	object-fit: cover;
	transition: var(--TransitionMinimal);
	opacity: .5;
}
.socialNetwork img:hover{
	opacity: 1;
	transform: translate(0 , -.2em);


}

.bottomStageBottom {
	width: 100%;
	height: 20%;
	padding-top: .5em;
	display: flex;
	justify-content: space-between;
	border-top: 2px solid #fff2;
}

.bottomStageBottom p:nth-child(2){
	opacity: .2;
}

/* Media */

@media (min-width: 2000px) {
	.recomendedBlock__inner {
		max-height: 310px;
		max-width: 100%;

	}
}

@media (max-width: 1600px) {
	.aboutFilm {
		opacity: 0;
		height: 100%;
		overflow: hidden;
		grid-template-rows: 50% 20% 30%;
		grid-template-columns: 100%;
		grid-template-areas: 
		"Title Title"
		"Bar Bar"
		"genre genre";
	}
	.aboutFilm:hover, .filmIMG__inner:hover {
		transform: none;
	}
	.recomendedBlock__inner {
		height: 22vw;
	}
	.recomendedFilm, .filmIMG__inner {
		border-radius: 0.4em;
		overflow: hidden;
	}
	.swiper-button-next, .swiper-button-prev {
		display: none;
	}
}


@media (max-width: 850px) {
	.HeaderSlide_info {
		height: 100%;
	}
	.recomendedBlock__inner {
		height: 43vw;
	}
	.aboutFilm {
		opacity: 1;
		height: 30%;
		padding-bottom: 0;
		overflow: hidden;
		align-items: center;
		grid-template-rows: 100%;
		grid-template-columns: 100%;
		grid-template-areas: 
		"Title";
	}
	.film_raiting, .genre, .duration, .Bar {
		display: none;
	}
	.recomendedFilm, .filmIMG__inner {
		border-radius: 0.4em;
		overflow: hidden;
	}
	.swiper-button-next, .swiper-button-prev {
		display: none;
	}
	.MainSliderBlock {
		padding: 0;
	}
	.mainBottomBlock {
		height: 40vw;
	}

	.bottomStageTop {
	grid-template-areas: 
	"link subscribeButton social"
	"link subscribeButton social"
	"link subscribeButton social";
	}
	.social {
		flex-direction: column;
	}
	.socialNetwork {
		width: 30%;
	}
	.mainHeadBlock {
		height: 15vw;
	}
	.searchInput {
		height: 10vw;
	}
	.header {
		grid-template-columns: 25% 25% 25% 25%;
		grid-template-areas:"logo empty search user";
	}
	.searchMainBlock {
		width: 25%;
		margin-left: 1.5em;
	}
	.profile {
		width: 25%;
	}
	.ul {
		font-size: 1.4em;
	}

}
