*{
	margin: 0;
	padding: 0;

	font-size: 32px;
	line-height: 1.4;
	font-size: calc(14px + 17 * (100vw / 1600));

	text-decoration: none;
	box-sizing: border-box;
}

h1, h2, h3 {
	font-size: calc(11px + 13 * (100vw / 1600));
	color: var(--TitleColor);
}
p {
	font-size: calc(9px + 11 * (100vw / 1600));
	color: var(--TextColor);
}
a {
	text-decoration: none;
	color: var(--TextColor);
}


:root {
	--SubscribeButton: #1f9fce; 
	--DarkBlueOpacity: #11181dc9;
	--DarkBlue: #152027;
	--RubyRed: #9f173d;
	--TextColor: #b6b6b6;
	--TitleColor: #ece2e2;
	--GoodRaiting: #1dee1b;
	--Popup: #152027c9;

	--TransitionOptimal: 0.5s;
	--TransitionMinimal: 0.3s;
}
body {
	background-color: var(--DarkBlue);
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	overflow-x: hidden;

}
/* ======================/head====================== */
.headerHEADER {
	margin: 0 auto;
	width: 100%;
	max-width: 2000px;
	height: 35vw;
	max-height: 700px;
}

.headerContainer {
	height: 100%;
	width: 100%;
	padding: 1% 20%;
	margin: 0 auto;
	overflow-x: hidden; 
}
.Header__slide {
	max-width: 100%;
	background-size: cover;
	border-radius: 20px;

	overflow: hidden;

	display: flex;
	justify-content: center;
	align-items: flex-end;
	
}
.headerContainer .swiper-slide {
	opacity: .3;
	transition: 1.2s;
	transform: scale(0.8);
}
.headerContainer .swiper-slide-active {
	opacity: 1;
	transition: 1.2s;
	transform: scale(1);
}

/* Информационная панель о фильме ШАПКА */
.HeaderSlide_info {
	z-index: 100;
	width: 100%;
	height: 20%;
	transform: translateY(+100%);

	display: grid;
	align-items: center;

	grid-template-areas: "title bar pointer";


	background-color: var(--DarkBlueOpacity);
	opacity: 85%;
	transition: .6s;
}
.swiper-slide-active:hover .HeaderSlide_info {
	transform: translateY(0);
	opacity: 85%;
}
.Title {
	font-size: 1em;
	margin: .2em 0 .2em .4em ;
	grid-area: title;
}

.bar {
	grid-area: bar;

	display: block;
	height: .2em;
	border-radius: 10px;
	overflow: hidden;
	margin-top: .2em;
	
	width: 90%;

	background-color: var(--DarkBlue);
	
}
.rating {
	background-color: var(--GoodRaiting);
	height: 100%;
	float: left;
}
.pointer {
	grid-area: pointer;
	display: flex;
	justify-content: right;

	
}
.follow, .dislike, .arrowUp {
	background-size: cover;
	width: .9em;
	height: .9em;
	margin-right: 6%;
	transition: .3s;
}
.follow {
	background-image: url('../source/Icons/follow_off.png');
}
.dislike {
	background-image: url('../source/Icons/dislike_off.png');
}
.arrowUp {
	background-image: url('../source/Icons/arrow_up.png');
}
.follow:hover {
	background-image: url('../source/Icons/follow_on.png');
}
.dislike:hover {
	background-image: url('../source/Icons/dislike_on.png');
}
.arrowUp:hover {
	transform: translateY(-10%);
}



.header__bottomLine {
	width: 100%;
	height: 2vw;
	background-color: var(--RubyRed);
}
/* ============================Content============================ */
.content {
	margin: 0 auto;
	padding: .6em 1em; 
	width: 100%;
	max-width: 1650px; 
	height: auto;
	background-color: var(--DarkBlue);

}
.MainSliderBlock {
	position: relative;
}
.swiper-button-next:after, .swiper-button-prev:after {
	height: 20px;
	width: 20px;
	color: var(--RubyRed);
	font-size: 1em;
	font-weight: bold;

}
.swiper-button-disabled {
	display: none;
}
.swiper-button-next {
	left: 101%;
}
.swiper-button-prev {
	left: -2%;
}
.recomendedFilm_Slider {
	display: flex;
	align-items: center;
	
}
.recomendedBlock__inner {
	margin: .8em 0 1.2em;
	width: 100%;
	height: 19vw;
	overflow: hidden;
}
.recomendedFilm {
	overflow: hidden;
	border-radius: .4em;
	
}
.filmIMG__inner {
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
	transition: var(--TransitionOptimal);

	will-change: transform;
	transform-origin: center center;
}

.filmIMG__inner:hover {
	transform: scale(1.1);
}
.aboutFilm {
	z-index: 100;
	width: 100%;
	height: 100%;
	padding: 0.15em;
	background-color: var(--DarkBlueOpacity);

	opacity: 0;
	transition: var(--TransitionOptimal);
	will-change: transform;
	transform-origin: center center;
	
	display: grid;
	grid-template-rows: 50% 15% 25% 10%;
	grid-template-columns: 3fr 1fr;
	grid-template-areas: 
	"Title Title"
	"Bar Bar"
	"genre genre"
	"duration followFilm";
	cursor: pointer;

}
.aboutFilm p {
	font-size: calc(6px + 13 * (100vw / 1600));
	line-height: 0.9em;
	align-items: center;
}
.aboutFilm:hover {
	opacity: 1;
	transform: scale(0.92);
}
.follow_film {
	grid-area: followFilm;
	margin: 0 auto;
}
.film_raiting  {
	grid-area: Bar;
}
.title {
	grid-area: Title;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.genre {
	grid-area: genre;
	margin-bottom: .2em; 
}
.duration {
	grid-area: duration;
}


.AboutUsInfoBlock {
	margin-bottom: 1.2em;
}
.AboutUsInfoBlock h2 {
	margin-bottom: 0.4em;
}
.moreFilm {
	z-index: 1;
	background: rgb(254,254,254);
	background: radial-gradient(circle, rgba(254,254,254,0.13) 0%, rgba(159,23,61,0.2) 90%);


	cursor: pointer;
	transition: var(--TransitionMinimal);

}
.moreLink {
	color: var(--TextColor);
	height: 100%;
	width: 100%;
	text-align: center;
	font-size: .5em;

	display: flex;
	justify-content: center;
	align-items: center;
}
.filmLink {
	width: 100%;
	height: 100%;
	position: absolute;
	opacity: 0;
}
/* ============================ActorSlider============================ */
.actorSliderBlock {
	height: 19vw;
	
}
.actorInfoMainBlock {
	width: 100%;
	height: 100%;
	overflow: hidden;
	margin: 1.5em 0;
	
}
.actorSlider {
	width: 100%;
	height: 100%;	
}
.actorSlide {
	display: grid;
	grid-template-columns: 30% 70%;
	grid-template-areas:"actorIMG actorInfo"; 
	cursor: pointer;
}
.actorImgBlock {
	display: flex;
	grid-area: actorIMG;
	border-radius: .5em;
	overflow: hidden;
}
.actorImg {
	
	max-width: 100%;
	width: 100%;
	object-fit: cover;
	
}
.actorInfoBlock {
	grid-area: actorInfo;
	margin-left: .5em;
	background-color: var(--RubyRed);
	overflow: hidden;
	border-radius: .5em;
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows:15% 50% 20% 15%;
	grid-template-areas:
	"actorTitle"
	"actorText"
	"actorFilm"
	"actorMore"
	;
}
.actorTitle, .actorText, .actorFilm{
	padding: .3em;
}
.actorTitle {
	grid-area: actorTitle;
}
.actorText {
	grid-area: actorText;
	font-size: .6em;
	margin: .4em 0;
	max-height: 100%;
	overflow-x: auto;

}
.actorFilm {
	grid-area: actorFilm;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.actorMoreBlock {
	display: flex;
	padding: .2em;
	justify-content: center;
	background-color: var(--TextColor);
	grid-area: actorMore;
}
.wiki{
	display: flex;
	justify-content: center;
	max-width: 10%;
	width: 10%;
}
.actorMore {
	object-fit: contain;
	transition: var(--TransitionOptimal);
	
}
.actorMore:hover {
	transform: scale(1.1);
}

/* Media */

@media (min-width: 2000px) {
	.recomendedBlock__inner {
		max-height: 310px;
		max-width: 100%;

	}
}

@media (max-width: 1600px) {
	.aboutFilm {
		opacity: 0;
		height: 100%;
		overflow: hidden;
		grid-template-rows: 50% 20% 30%;
		grid-template-columns: 100%;
		grid-template-areas: 
		"Title Title"
		"Bar Bar"
		"genre genre";
	}
	.aboutFilm:hover, .filmIMG__inner:hover {
		transform: none;
	}
	.recomendedBlock__inner {
		height: 22vw;
	}
	.recomendedFilm, .filmIMG__inner {
		border-radius: 0.4em;
		overflow: hidden;
	}
	body {
		overflow-x: hidden;
	}
	.swiper-button-next:after, .swiper-button-prev:after {
	height: 20px;
	width: 40px;
	color: var(--RubyRed);
	font-size: 1em;
	font-weight: bold;

	}
}

@media (max-width: 850px) {
	.HeaderSlide_info {
		height: 100%;
	}
	.recomendedBlock__inner {
		height: 43vw;
	}
	.aboutFilm {
		opacity: 1;
		height: 30%;
		padding-bottom: 0;
		overflow: hidden;
		align-items: center;
		grid-template-rows: 100%;
		grid-template-columns: 100%;
		grid-template-areas: 
		"Title";
	}
	.film_raiting, .genre, .duration, .Bar {
		display: none;
	}
	.recomendedFilm, .filmIMG__inner {
		border-radius: 0.4em;
		overflow: hidden;
	}
	.swiper-button-next, .swiper-button-prev {
		display: none;
	}
	.MainSliderBlock {
		padding: 0;
	}
	.mainBottomBlock {
		height: 40vw;
	}

	.bottomStageTop {
	grid-template-areas: 
	"link subscribeButton social"
	"link subscribeButton social"
	"link subscribeButton social";
	}
	.social {
		flex-direction: column;
	}
	.socialNetwork {
		width: 30%;
	}
	.mainHeadBlock {
		height: 15vw;
	}
	.searchInput {
		height: 10vw;
	}
	.header {
		grid-template-columns: 25% 25% 25% 25%;
		grid-template-areas:"logo empty search user";
	}
	.searchMainBlock {
		width: 25%;
		margin-left: 1.5em;
	}
	.profile {
		width: 25%;
	}
	.ul {
		font-size: 1.4em;
	}
	.searchMenu ol {
		width: 100%;
	}
	.popupContent {
		height: 33%;
	}
	.actorSliderBlock {
		height: 40vw; 
	}
	.actorInfoBlock {
	grid-template-columns: 100%;
	grid-template-rows: 15% 65% 20%;
	grid-template-areas:
	"actorTitle"
	"actorText"
	"actorMore";
	}
	.actorMoreBlock {
		opacity: .2;
	}
	.actorMore{
		max-width: 100%;
	}
	

}
