/* ======================head====================== */


.mainHeadBlock {
	z-index: 100;
	width: 100%;
	height: 3vw;
	background-color: var(--DarkBlueOpacity);
	position: fixed;

}
.header {
	width: 100%;
	max-width: 1600px;
	height: 100%;

	margin: 0 auto;
	padding: 0 .1em;

	display: grid;
	align-items: center;
	justify-items: center;
	grid-template-columns: 5% 75% 10% 5% 5%;
	grid-template-rows: 100%;
	grid-template-areas:"logo none empty search user";

	
}
.ul {
	color:  var(--TextColor);
	font-size: .8em;
	cursor: pointer;
	grid-area: empty;
	transition: var(--TransitionMinimal);
}
.ul:hover {
	color: #fff;
}
.logo {
	width: 2em;
	height: 100%;
	max-width: 100%;
	object-fit: contain;

	grid-area: logo;
}
.logoLink {
	max-width: 100%;
	height: 100%;
}

.searchMainBlock {
	width: 1.7vw;
	height: 100%;
	grid-area: search;
	cursor: pointer;
}
#search_icon {
	max-width: 100%;
	height: 100%;
	transition: var(--TransitionMinimal);
	will-change: transform;
	transform-origin: center center;
	object-fit: contain;
}
#search_icon:hover {
	transform: scale(1.1);
}
.profile {
	width: 2vw;
	height: 100%;
	grid-area: user;
	cursor: pointer;
}
#user_icon {
	max-width: 100%;
	height: 100%;
	transition: var(--TransitionMinimal);
	object-fit: contain;
}
#user_icon:hover {
	transform: scale(1.1);
}
.popupSearch {
	z-index: 1000;
	width: 100%;
	height: 100%;
	position: fixed;
	display: flex;
	justify-content: center;
	padding: 1em;
	background-color: var(--Popup);
	transition: var(--TransitionMinimal);
	opacity: 0;
	visibility: hidden;
	
}
.popupSearch.open {
	opacity: 1;
	visibility: visible;
}
.popupContent {
	width: 100%;
	max-width: 1600px;
	height: 80%;
	position: relative;
	transition: var(--TransitionMinimal);
	transform: translate(0, -100%);
}
.popupContent.open {
	transform: translate(0);
}
.searchInput {
	width: 100%;
	height: 4vw;
	padding-left: .5em;
	background-color: var(--DarkBlue);
	color: var(--TextColor);
	border-radius: .8em;
	border: .04em solid var(--TextColor);
}
.popupClose {
	cursor: pointer;
	float: right;
    margin: 1em;
	color: var(--TextColor);
	transition: var(--TransitionMinimal);
}
.popupClose:hover {
	color: var(--TitleColor);
	transform: scale(1.2);
}
.searchMenu {
	color: var(--TextColor);
	margin-top: 2em;
	cursor: pointer;
	padding-bottom: .5em;
	height: 79%;
	overflow-y: hidden;
}
.searchMenu ol {
	margin-bottom: .2em;
	display: block;
	width: 40%;
}
.searchMenu ol.hide {
	display: none;
}
.searchMenu ol:hover {
	background-color: var(--RubyRed);
	color: var(--TitleColor);
}
mark {
	background-color: var(--RubyRed);
}


/* ============================Bottom============================ */
.mainBottomBlock {
	width: 100%;
	height: 20vw;
	max-width: 1600px;
	padding: .8em .3em; 
	margin: 0 auto;
	overflow: hidden;

	border-top: 2px solid #fff2;

}
.bottomStageTop {
	width: 100%;
	height: 80%;
	margin-bottom: .5em;

	display: grid;
	justify-items: center;
	align-items: center;
	grid-template-columns:1fr 3fr 1fr;
	grid-template-areas: 
	"link subscribeButton none"
	"link subscribeButton none"
	"link subscribeButton social";
}
.bottomUl {
	width: 100%;
	grid-area: link;
	font-weight: bold;
}
.bottomUl p:hover {
	color: var(--RubyRed);
	cursor: pointer;
	transition: var(--TransitionMinimal);
}
.bottomButtonSubscribe {
	width: 70%;
	height: 65%;
	padding: 1em;
	text-align: left;
	font-weight: bold;
	background-color: var(--SubscribeButton);
	border-radius: 1.2em;
	transition: var(--TransitionOptimal);
	opacity: .7;

	grid-area: subscribeButton;
}
.bottomButtonSubscribe p {
	color: var(--TitleColor);
}
.bottomButtonSubscribe:hover {
	opacity: 1;
	box-shadow: .4em .5em .05em .1em #1a566d;
}
.social {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	grid-area: social;
}
.socialNetwork{
	width: 15%;
	margin: .1em;
	cursor: pointer;
}
.socialNetwork img {
	max-width: 100%;
	object-fit: cover;
	transition: var(--TransitionMinimal);
	opacity: .5;
}
.socialNetwork img:hover{
	opacity: 1;
	transform: translate(0 , -.2em);


}

.bottomStageBottom {
	width: 100%;
	height: 20%;
	padding-top: .5em;
	display: flex;
	justify-content: space-between;
	border-top: 2px solid #fff2;
}

.bottomStageBottom p:nth-child(2){
	opacity: .2;
}


.filmLink {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 1000;
}



@media (max-width: 900px) and (max-height: 420px) {
	.header {
		grid-template-columns: 25% 25% 25% 25%;
		grid-template-areas:"logo empty search user";
	}
	.searchMainBlock {
		width: 25%;
		margin-left: 1.5em;
	}
	.profile {
		width: 25%;
	}
	.ul {
		font-size: 1.4em;
	}
	.searchMenu ol {
		width: 100%;
	}
	.popupContent {
		height: 33%;
	}
.mainHeadBlock {
		height: 10vw;
	}
	.searchInput {
		height: 10vw;
	}
}
@media (max-width: 600px) {
	.header {
		grid-template-columns: 25% 25% 25% 25%;
		grid-template-areas:"logo empty search user";
	}
	.mainHeadBlock {
		height: 20vw;
	}
	.searchInput {
		height: 15vw;
	}
	.searchMainBlock {
		width: 35%;
		margin-left: 1.5em;
	}
	.profile {
		width: 35%;
	}
	.ul {
		font-size: 1.4em;
	}
	
}